<div class="container">
  <h2 class="mb-4">Редактирование информации о пациенте</h2>
  <form id="uploadForm" name="uploadForm">
    <div class="form-group mb-4">
      <label for="firstName">Имя</label>
      <input type="text" class="form-control" id="firstName" placeholder="Введите имя" [(ngModel)]="firstName" name="firstName" required>
    </div>
    <div class="form-group mb-4">
      <label for="lastName">Фамилия</label>
      <input type="text" class="form-control" id="lastName" placeholder="Введите фамилию" [(ngModel)]="lastName" name="lastName" required>
    </div>
    <div class="form-group mb-4">
      <label for="sex">Пол</label>
      <select class="form-control" id="sex" [(ngModel)]="selectedSex" name="sex" required>
        <option *ngFor="let sex of sexes" [value]="sex">{{ sex }}</option>
      </select>
    </div>
    <div class="form-group mb-4">
      <label for="phone">Номер телефона</label>
      <input type="tel" class="form-control" id="phone" placeholder="Введите в таком формате: 0671234567" [(ngModel)]="phone" name="phone" required>
    </div>
    <div class="form-group mb-4">
      <label for="birthYear">Год рождения</label>
      <input type="date" class="form-control" id="birthYear" [(ngModel)]="birthYear" name="birthYear" required>
    </div>

    <div class="row justify-content-center">
      <div class="col-auto">
        <button class="btn btn-secondary" (click)="goToPreviousPage()">Назад</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="submit()" type="button">Обновить</button>
      </div>
    </div>
  </form>
</div>
