<div class="container">
  <h2 class="mb-4">Загрузка новых фотографий пациента</h2>
  <form id="uploadForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group mb-4" [ngClass]="{ 'has-error': !isPeriodUnique(period) }">
      <label for="period">Период:</label>
      <input name="period" type="text" class="form-control" id="period" placeholder="Введите период" [(ngModel)]="period" required>
      <div *ngIf="!isPeriodUnique(period)" class="error-message">Период уже существует.</div>
    </div>


    <div class="row justify-content-center text-center mt-4">
      <div class="col-md-4">
        <h6>Окклюзионный вид верхней челюсти</h6>
        <label for="upperJawOcclusalView">
          <img class="photo-thumbnail" [src]="images.upperJawOcclusalView || 'assets/photosBackground/occlusal_upper_icon.png'" alt="Окклюзионный вид верхней челюсти">
        </label>
        <input name="upperJawOcclusalView" type="file" id="upperJawOcclusalView" (change)="onFileSelected($event, 'upperJawOcclusalView')" accept="image/*">
      </div>
      <div class="col-md-4">
        <h6>Внутриротовой вид спереди</h6>
        <label for="intraoralFrontalView">
          <img class="photo-thumbnail" [src]="images.intraoralFrontalView || 'assets/photosBackground/intraoral_front_icon.png'" alt="Внутриротовой вид спереди">
        </label>
        <input name="intraoralFrontalView" type="file" id="intraoralFrontalView" (change)="onFileSelected($event, 'intraoralFrontalView')" accept="image/*">
      </div>
      <div class="col-md-4">
        <h6>Окклюзионный вид нижней челюсти</h6>
        <label for="lowerJawOcclusalView">
          <img class="photo-thumbnail" [src]="images.lowerJawOcclusalView || 'assets/photosBackground/occlusal_lower_icon.png'" alt="Окклюзионный вид нижней челюсти">
        </label>
        <input name="lowerJawOcclusalView" type="file" id="lowerJawOcclusalView" (change)="onFileSelected($event, 'lowerJawOcclusalView')" accept="image/*">
      </div>
    </div>

    <div class="row justify-content-center text-center mt-4">
      <div class="col-md-4">
        <h6>Вид сбоку справа</h6>
        <label for="rightSideLateralView">
          <img class="photo-thumbnail" [src]="images.rightSideLateralView || 'assets/photosBackground/side_right_icon.png'" alt="Вид сбоку справа">
        </label>
        <input name="rightSideLateralView" type="file" id="rightSideLateralView" (change)="onFileSelected($event, 'rightSideLateralView')" accept="image/*">
      </div>
      <div class="col-md-4">
        <h6>Вид сбоку слева</h6>
        <label for="leftSideLateralView">
          <img class="photo-thumbnail" [src]="images.leftSideLateralView || 'assets/photosBackground/side_left_icon.png'" alt="Вид сбоку слева">
        </label>
        <input name="leftSideLateralView" type="file" id="leftSideLateralView" (change)="onFileSelected($event, 'leftSideLateralView')" accept="image/*">
      </div>
    </div>

    <div class="row justify-content-center text-center mt-4">
      <div class="col-md-4">
        <h6>Фотография профиля слева</h6>
        <label for="leftSideView">
          <img class="photo-thumbnail" [src]="images.leftSideView || 'assets/photosBackground/profile_left_icon.png'" alt="Фотография профиля слева">
        </label>
        <input name="leftSideView" type="file" id="leftSideView" (change)="onFileSelected($event, 'leftSideView')" accept="image/*">
      </div>
      <div class="col-md-4">
        <h6>Фронтальное фото с улыбкой</h6>
        <label for="frontalView">
          <img class="photo-thumbnail" [src]="images.frontalView || 'assets/photosBackground/front_smile_icon.png'" alt="Фронтальное фото с улыбкой">
        </label>
        <input name="frontalView" type="file" id="frontalView" (change)="onFileSelected($event, 'frontalView')" accept="image/*">
      </div>
      <div class="col-md-4">
        <h6>Фотография профиля справа</h6>
        <label for="rightSideView">
          <img class="photo-thumbnail" [src]="images.rightSideView || 'assets/photosBackground/profile_right_icon.png'" alt="Фотография профиля справа">
        </label>
        <input name="rightSideView" type="file" id="rightSideView" (change)="onFileSelected($event, 'rightSideView')" accept="image/*">
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-auto">
        <button class="btn btn-secondary" (click)="goToPreviousPage()">Назад</button>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Далее</button>
      </div>
    </div>
  </form>
</div>
