<div class="search-container">
  <input type="text" [(ngModel)]="searchQuery" (input)="filterPatients()" placeholder="Поиск по имени или фамилии" class="search-input"/>
</div>

<div *ngIf="isLoading" class="loading-spinner">
  <p class="loading-text">Загрузка пациентов...</p>
  <img src="https://media.giphy.com/media/3ohBV3swUjlLSwyaTm/giphy.gif" alt="Загрузка..."/>
</div>

<table *ngIf="!isLoading" class="patients-table">
  <thead>
  <tr>
    <th>#</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Возраст</th>
    <th>Фото</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let patient of filteredPatients; let i = index">
    <td>{{ i + 1 }}</td>
    <td *ngIf="patient.generalInfo?.firstName"> {{ patient.generalInfo.firstName }}</td>
    <td *ngIf="patient.generalInfo?.surName"> {{ patient.generalInfo.surName }}</td>
    <td *ngIf="patient.generalInfo?.birthDate"> {{ transform(patient.generalInfo.birthDate) }}</td>
    <td *ngIf="patient.photos?.length"><img [src]="patient.photos[0].frontalPath" alt="Фото пациента" class="photo-thumbnail"></td>
    <td>
      <button class="btn-view" (click)="viewPatient(patient.id)">Просмотр</button>
    </td>
  </tr>
  </tbody>
</table>
